@import '../../../../theme/scss/mixins';

.submit_btn {
   min-width: 120px;
   height: 40px;
   margin-left: auto;
   padding: 9px 16px;
   border: none;
   outline: none;
   border-radius: var(--primary-border-radius);
   color: #FFFFFF;
   background: var(--success-btn-bgcolor);
   cursor: pointer;

   &:active {
      box-shadow: inset 0 -2px var(--primary-shadow-color);
   }

   &:disabled {
      opacity: 0.5;
      pointer-events: none;
   }
}
