{
	"extends": [
		"@sotream/eslint-config-react-js"
	],
	"rules": {
		"max-len": [2, {"code": 120, "tabWidth": 4, "ignoreUrls": true, "ignoreStrings": true, "ignoreComments": true, "ignoreTemplateLiterals": true}],
		"no-param-reassign": 0,
		"no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
		"import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
		"node/no-missing-import": ["error", {
			"allowModules": [],
			"resolvePaths": ["/src"],
			"tryExtensions": [".js", ".jsx", ".json", ".node"]
		}],
		"node/no-unpublished-import": ["error", {
			"allowModules": ["vite", "@vitejs/plugin-react", "vite-plugin-svgr", "@testing-library/jest-dom", "@testing-library/react", "vitest"]
		}]
	}
}
