.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
}

.text_field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    & > label {
        margin-bottom: 8px !important;
        font-size: var(--small-fsize);
        line-height: 16px;
    }

    & > div {
        position: relative;
        width: fit-content;
        height: fit-content;
        cursor: pointer;

        & > input {
            width: 100%;
            height: 40px;
            padding: 9px 12px;
            border: 1px solid var(--primary-border-color);
            outline: none;
            border-radius: var(--primary-border-radius);
            font-family: Geometria, sans-serif;
            font-size: var(--primary-fszie);
            line-height: 20px;
            color: var(--primary-text-color);
            background: var(--primary-color);
            cursor: inherit;

            &::placeholder {
                color: var(--placeholder-text-color);
            }

            &:focus {
                border: 1px solid var(--success-btn-bgcolor);
            }
        }
    }
}

.text_field[data-icon='true'] {
    & > div {
        & > input {
            padding-right: 36px;
        }

        & > svg {
            position: absolute;
            top: 8px;
            right: 12px;
            display: inline-block;
            width: 24px;
            height: 24px;

            * {
                fill: var(--icon-color);
            }
        }
    }
}

.calendar[data-open='false'],
.calendar[data-open='true'] {
    position: absolute;
    top: 66px;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 320px;
    max-height: 340px;
    padding: 16px;
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    background: var(--primary-color);
}

.calendar[data-open='false'] {
    display: none;
}

.calendar_month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;

    & .month_btn {
        display: inline-block;
        width: 24px;
        height: 24px;
        font-size: var(--title-fsize);
        line-height: 24px;
        color: var(--icon-color);
        cursor: pointer;
    }

    & .month_date {
        display: inline-block;
        width: fit-content;
        height: fit-content;
        font-family: Poppins_Bold, sans-serif;
        color: var(--secondary-text-color);
    }
}

.calendar_week {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;

    & span {
        display: inline-block;
        width: calc(100% / 7);
        height: fit-content;
        font-size: var(--small-fsize);
        line-height: 1;
        text-align: center;
        color: var(--placeholder-text-color);
    }
}

.calendar_days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 240px;

    & span {
        display: inline-block;
        width: calc(100% / 7);
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0);
        line-height: 38px;
        text-align: center;
        color: var(--placeholder-text-color);
    }

    & span[data-disabled='true'] {
        color: var(--placeholder-text-color);
        background: var(--disable-btn-bgcolor);
        cursor: default;
        pointer-events: none;
    }

    & span[data-empty='false'] {
        &:hover {
            border: 1px solid var(--primary-border-color);
            color: var(--secondary-text-color);
            cursor: pointer;
        }
    }

    & span[data-chosen='true'] {
        border: 1px solid rgba(0, 0, 0, 0) !important;
        background: var(--success-btn-bgcolor) !important;
        color: #FFFFFF !important;
    }

    & span[data-current='true'] {
        color: var(--error-text-color) !important;
    }
}
