.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding: 5px 24px;
    border-bottom: 1px solid var(--primary-border-color);
    box-shadow: 1px 0 3px var(--primary-shadow-color);
    background: var(--sidebar-bgcolor);
}

.header_logo {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    font-family: Poppins_Bold, sans-serif;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -1px;
    background: linear-gradient(-180deg, #f6c911 40%, rgba(246, 201, 17, 0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transform: rotate(-5deg);
    user-select: none;
}

.header_nav,
.header_auth {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.auth_date {
    margin-right: 20px;
    font-size: var(--title-fsize);
    color: var(--icon-color);
    text-shadow: 0.1px 0.1px var(--primary-text-color);
}

.auth_nav {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 20px;
}

.nav_link, .nav_active_link {
    font-size: var(--nav-fsize);
    color: var(--icon-color);
    cursor: pointer;
}

.nav_link {
    &:hover {
        color: var(--secondary-text-color);
    }
}

.nav_active_link {
    font-weight: 900;
    color: var(--icon-active-color);
    cursor: default;
    pointer-events: none;
}

.calendar_wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;

    & .calendar {
        margin-right: 8px;
    }

    & .button {
        width: fit-content;
        height: 40px;
        padding: 5px 20px;
        margin-top: 24px;
        margin-left: 10px;
        border: none;
        outline: none;
        border-radius: var(--primary-border-radius);
        font-size: var(--primary-fszie);
        line-height: 20px;
        color: #FFFFFF;
        background: var(--success-btn-bgcolor);
        cursor: pointer;
    }
}
