.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: var(--primary-bg-color);
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background: var(--sidebar-bgcolor);
    overflow-y: auto;
}
