.message {
    position: absolute;
    z-index: 1000;
    bottom: 50px;
    right: 50px;
    display: flex;
    max-width: 600px;
    height: fit-content;
    padding: 16px;
    border-radius: var(--primary-border-radius);
    animation: msg 0.2s linear;

    & b {
        display: inline-block;
        width: fit-content;
    }

    & .success {
        color: var(--success-text-color);
    }

    & .error {
        color: var(--error-text-color);
    }

    & span {
        display: inline-block;
        width: calc(100% - 76px);
        margin: 0 14px;
        color: var(--primary-text-color);
    }

    @keyframes msg {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.message_close_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;

    & path {
        fill: var(--icon-color);
    }
}
