@mixin popupContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    min-height: 100vh;
}

@mixin popupWrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 0);
    min-width: 400px;
    padding: 24px;
    border-radius: var(--primary-border-radius);
    background: var(--primary-color);
}
