.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 100%;
    background: url('/src/theme/assets/images/banner.jpeg') no-repeat center;
    background-size: contain;
}
